@model CartViewModel

@{
    ViewData["Title"] = "Card overview";
}

<h1>Card overview</h1>

@if (Model.CartItems.Count > 0)
{

<table class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>@item.PriductName</td>
            <td>@item.Quantity</td>
            <td>
                <a  asp-action="Add" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">+</a>
                <a asp-action="Decrease" asp-route-id="@item.ProductId" class="btn btn-sm btn-success">-</a>
                <a  asp-action="Remove" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Remove</a>
            </td>
            <td>@item.Price.ToString("C2")</td>
            <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
        </tr>
    }

    <tr>
        <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
    </tr>

    <tr>
        <td class="text-right" colspan="4">
            <a asp-action="Clear" class="btm bg-danger">Clear Cart</a>
            <a href="#" class="btm bg-primary">Cheackout</a>
        </td>
    </tr>

</table>
}
else 
{ 
 <h3 class="display-4 text-center">You cart is empty</h3>
}
